/* COLORS AND VARIABLES
-------------------------------------------------- */
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #333;
}

.container {
  width: 1170px;
  max-width: 100%;
}

/*
* Extra utilities
*/
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  color: #000;
  text-transform: uppercase;
}

.section-title h2:after {
  content: '';
  height: 2px;
  width: 200px;
  display: block;
  margin: 20px auto;
  background-color: #8dc73f;
}

.section-title p {
  font-size: 17px;
}

.pad-left-0 {
  padding-left: 0 !important;
}

.pad-right-0 {
  padding-right: 0 !important;
}

/*
* SITE HEADER
*/
.site-header {
  background-color: white;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 300ms ease-in-out;
}

.site-header .site-nav {
  align-items: center;
}

.site-header .navbar-collapse .navbar-nav {
  width: 100%;
  justify-content: space-around;
}

@media (max-width: 767px) and (max-width: 767px) {
  .site-header .navbar-collapse.show .navbar-nav {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
}

.site-header li a {
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  height: auto;
  padding-bottom: 10px;
}

.site-header li a:hover, .site-header li a.active {
  color: #8dc73f;
  border-bottom-color: #8dc73f;
  text-decoration: none;
}

.site-header li.active a {
  color: #8dc73f;
  border-bottom-color: #8dc73f;
  text-decoration: none;
}

@media (max-width: 767px) {
  .site-header li.active a {
    border-bottom-color: transparent;
  }
}

@media (max-width: 767px) {
  .site-header li {
    margin-bottom: 10px;
  }
}

.site-header .site-logo {
  height: auto;
  padding-bottom: 0px;
  margin-right: 50px;
}

.site-header .site-logo:hover {
  border-bottom-color: transparent;
}

@media (max-width: 767px) {
  .site-header .site-logo img {
    margin-right: 0;
    max-height: 40px;
  }
}

.site-header.sticky {
  padding-bottom: 0;
  padding-top: 0;
}

.site-header.sticky .site-logo img {
  height: 40px;
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 75px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  top: 170px;
  z-index: 10;
}

.carousel-caption h1 {
  font-size: 86px;
}

.carousel-caption p {
  font-size: 34px;
}

@media (max-width: 767px) {
  .carousel-caption {
    top: 100px;
  }
  .carousel-caption h1 {
    font-size: 48px;
  }
  .carousel-caption p {
    font-size: 24px;
  }
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 545px;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 545px;
}

.carousel-item:before {
  content: '';
  background: url("../images//home/banner_overlay.png");
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
}

@media (max-width: 767px) {
  .carousel-item {
    height: 350px;
  }
}

.carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.carousel-indicators li.active {
  background-color: #8dc73f;
  border: 2px solid #fff;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .feature-item {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.marketing .feature-item h2 {
  font-weight: normal;
  font-size: 22px;
  margin-top: 15px;
  color: #8dc73f;
  padding-bottom: 20px;
  position: relative;
}

.marketing .feature-item h2:after {
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  border-radius: 2px;
  background-color: #818286;
  margin-left: 30%;
  margin-top: 20px;
}

.marketing .feature-item p {
  font-size: 17px;
}

.marketing .feature-item strong {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

@media (max-width: 767px) {
  .marketing .feature-item {
    margin-bottom: 40px;
  }
}

/* HOTLINE
  ------------------------- */
.hotline {
  background-color: #99cc52;
  background-image: url("../images//home/bg_location.png");
  padding: 20px 0;
  margin: 60px 0;
  position: relative;
}

.hotline:before, .hotline:after {
  content: '';
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
}

.hotline:before {
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(left, 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}

.hotline:after {
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}

.hotline .hotline-item {
  position: relative;
  padding-left: 60px;
  color: #fff;
}

.hotline .hotline-item .fa {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 44px;
  display: inline-block;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  font-size: 24px;
  border-radius: 100%;
  left: 0;
}

.hotline .hotline-item b {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .hotline .hotline-item {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

/* SERVICES
  ------------------------- */
.services {
  background-color: #f8f8f8;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.services .container {
  background: #e8f4d9;
}

.services .service-item {
  padding-bottom: 50px;
}

.services .service-item img {
  width: 100%;
  margin-bottom: 50px;
}

.services .service-item h3 {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services .service-item a {
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #4c4b4c;
  color: #4c4b4c;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: 16px;
}

.services .service-item.service-item-2 {
  padding-top: 50px;
  padding-bottom: 0px;
}

.services .service-item.service-item-2 img {
  margin-top: 50px;
  margin-bottom: 0px;
}

/* BLOG
  ------------------------- */
.blog .owl-carousel .owl-stage-outer {
  padding: 50px 0;
}

.blog .post {
  display: block;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.blog .post img {
  width: 100%;
  height: 230px;
}

.blog .post .post-wrap {
  padding: 30px;
  text-align: center;
}

.blog .post h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.blog .post p {
  font-size: 15px;
}

.blog .post a {
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #4c4b4c;
  color: #4c4b4c;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: 16px;
}

.blog .post:after {
  content: '';
  opacity: .4;
  background: #8dc73f;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: none;
}

.blog .post:hover::after {
  display: block;
}

.blog .owl-nav {
  display: block !important;
}

.blog .owl-carousel .owl-nav button.owl-next,
.blog .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  background-color: #8dc73f;
  padding: 15px 10px !important;
  color: #fff;
  display: block;
  margin-top: -50px;
  outline: none;
}

.blog .owl-carousel .owl-nav button.owl-next:hover,
.blog .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #72a330;
}

.blog .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

/* CUSTOMERS
  ------------------------- */
.customers {
  background-image: url("../images//home/customer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding-top: 50px;
  position: relative;
}

.customers:before {
  content: '';
  display: block;
  background: #fff;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: absolute;
}

.customers .container {
  position: relative;
  z-index: 20;
}

.customers .owl-carousel .owl-stage-outer {
  padding: 50px 0;
}

.customers .customer-item {
  display: block;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.customers .customer-item img {
  width: 100%;
  height: 230px;
}

.customers .customer-item .customer-wrap {
  padding: 30px;
  text-align: center;
}

.customers .customer-item h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.customers .customer-item p {
  font-size: 15px;
}

.customers .customer-item a {
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #4c4b4c;
  color: #4c4b4c;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: 16px;
}

.customers .customer-item:after {
  content: '';
  opacity: .4;
  background: #8dc73f;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: none;
}

.customers .customer-item:hover::after {
  display: block;
}

.customers .owl-nav {
  display: block !important;
}

.customers .owl-carousel .owl-nav button.owl-next,
.customers .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 250px;
  background-color: #8dc73f;
  padding: 15px 10px !important;
  color: #fff;
  display: block;
  outline: none;
}

.customers .owl-carousel .owl-nav button.owl-next:hover,
.customers .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #72a330;
}

.customers .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

/* LOCATIONS
  ------------------------- */
.locations .locations-title {
  background-image: url("../images//home/location_bg.png");
  padding: 50px 0;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}

.locations .locations-title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #8dc73f;
  opacity: .5;
}

.locations .locations-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #000;
  opacity: .2;
}

.locations .locations-title .section-title {
  color: #fff;
  position: relative;
  z-index: 10;
}

.locations .locations-title .section-title h2 {
  color: #fff;
}

.locations .locations-title .section-title h2::after {
  background-color: #fff;
}

.locations .locations-title .section-title p {
  font-weight: bold;
}

.locations .location-item {
  border: 1px solid #ddd;
}

.locations .location-item .location-wrap {
  background-color: #ebebeb;
}

.locations .location-item h4 {
  padding: 30px 0;
  text-align: center;
  background: #fff;
}

.locations .location-item address {
  margin-bottom: 0;
  padding: 20px 20px 20px 60px;
  position: relative;
}

.locations .location-item address abbr {
  position: absolute;
  left: 30px;
  text-align: center;
  width: 15px;
  font-size: 18px;
}

.locations .location-item address br {
  margin-bottom: 10px;
}

.locations .owl-item {
  transform: scale(0.8);
  transition: all 300ms ease;
  transform-origin: right;
}

.locations .owl-item.center {
  transform: scale(1);
}

.locations .owl-item.center + .owl-item {
  transform-origin: left;
}

@media (max-width: 767px) {
  .locations .owl-item {
    transform: scale(1);
  }
}

.locations .owl-nav {
  display: block !important;
}

.locations .owl-carousel .owl-nav button.owl-next,
.locations .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 100px;
  background-color: #464646;
  padding: 10px 8px !important;
  color: #fff;
  display: block;
  outline: none;
}

.locations .owl-carousel .owl-nav button.owl-next:hover,
.locations .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #2d2d2d;
}

.locations .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

/* FOOTER
  -------------------------------------------------- */
footer {
  margin-top: 60px;
  background: #e8e8e8;
  padding-top: 60px;
}

footer .footer-text-muted {
  color: #1a1c27;
}

footer .footer-text strong {
  font-size: 16px;
}

footer .footer-links {
  line-height: 40px;
  margin-top: 30px;
  padding-left: 30px;
}

footer .footer-links a {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-size: 14px;
}

@media (max-width: 767px) {
  footer .footer-links {
    padding-left: 0;
  }
}

footer .footer-external-links {
  line-height: 28px;
}

footer h5 {
  font-size: 16px;
  font-weight: bold;
}

footer .footer-seperator {
  position: relative;
}

footer .footer-seperator:before, footer .footer-seperator:after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 1px;
  background: #777;
}

@media (max-width: 767px) {
  footer .footer-seperator:before, footer .footer-seperator:after {
    display: none;
  }
}

footer .footer-seperator:before {
  left: 0;
}

footer .footer-seperator:after {
  right: 20px;
}

footer .copyright {
  background-image: url("../images//footer_bg.png");
  color: #fff;
  font-weight: 500;
  padding: 25px 0;
  margin-top: 50px;
  font-size: 14px;
}

footer .copyright .copyright-text {
  padding-left: 70px;
  line-height: 28px;
}

@media (max-width: 767px) {
  footer .copyright .copyright-text {
    padding-left: 0;
  }
}

footer .footer-social-links {
  text-align: center;
  margin-top: 10px;
}

footer .footer-social-links a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  footer .footer-social-links {
    text-align: left;
  }
}

/* RESPONSIVE CSS
  -------------------------------------------------- */
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
