@charset "UTF-8";
/* COLORS AND VARIABLES
-------------------------------------------------- */
/* FONT FACES
-------------------------------------------------- */
@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/Gotham-Medium.otf");
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #333;
}

.container {
  width: 1170px;
  max-width: 100%;
}

.no-padding {
  padding: 0 !important;
}

@media (max-width: 767px) {
  .no-padding {
    padding: 0 10px !important;
  }
}

/*
* Extra utilities
*/
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.overflow-hidden {
  overflow: hidden;
}

.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  color: #000;
  text-transform: uppercase;
}

.section-title h2:after {
  content: '';
  height: 2px;
  width: 200px;
  display: block;
  margin: 20px auto;
  background-color: #8dc73f;
}

.section-title p {
  font-size: 17px;
}

.pad-left-0 {
  padding-left: 0 !important;
}

.pad-right-0 {
  padding-right: 0 !important;
}

/*
* SITE HEADER
*/
.site-header {
  background-color: white;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.site-header .site-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header .navbar-collapse .navbar-nav {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) and (max-width: 767px) {
  .site-header .navbar-collapse.show .navbar-nav {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
}

.site-header li a {
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  height: auto;
  padding-bottom: 10px;
}

.site-header li a:hover, .site-header li a.active {
  color: #8dc73f;
  border-bottom-color: #8dc73f;
  text-decoration: none;
}

.site-header li.active a {
  color: #8dc73f;
  border-bottom-color: #8dc73f;
  text-decoration: none;
}

@media (max-width: 767px) {
  .site-header li.active a {
    border-bottom-color: transparent;
  }
}

@media (max-width: 767px) {
  .site-header li {
    margin-bottom: 10px;
  }
}

.site-header .site-logo {
  height: auto;
  padding-bottom: 0px;
  margin-right: 50px;
}

.site-header .site-logo:hover {
  border-bottom-color: transparent;
}

@media (max-width: 767px) {
  .site-header .site-logo img {
    margin-right: 0;
    max-height: 40px;
  }
}

.site-header.sticky {
  padding-bottom: 0;
  padding-top: 0;
}

.site-header.sticky .site-logo img {
  height: 40px;
}

.site-header #mobile-menu-close {
  display: none;
  position: fixed;
  right: 60px;
  top: 20px;
  z-index: 10;
}

.site-header #mobile-menu-close .lines:before, .site-header #mobile-menu-close .lines:after {
  content: '';
  height: 4px;
  background: #fff;
  display: block;
  width: 26px;
  margin: 10px;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
}

.site-header #mobile-menu-close .lines:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.site-header #mobile-menu-close .lines:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 767px) {
  .site-header #mobile-menu-close {
    display: block;
  }
}

@media (max-width: 767px) {
  .site-header {
    padding: 0 16px;
  }
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-top: 96px;
  margin-bottom: 75px;
}

@media (max-width: 767px) {
  .carousel {
    margin-top: 56px;
  }
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  top: 170px;
  z-index: 10;
}

.carousel-caption h1 {
  font-size: 86px;
}

.carousel-caption p {
  font-size: 34px;
}

@media (max-width: 767px) {
  .carousel-caption {
    top: 100px;
  }
  .carousel-caption h1 {
    font-size: 48px;
  }
  .carousel-caption p {
    font-size: 24px;
  }
}

@media (max-width: 1366px) {
  .carousel-caption {
    top: 100px;
  }
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: auto;
  background-color: #777;
  background-position: center;
}

.carousel-item > img {
  width: 100%;
}

.carousel-item:before {
  content: '';
  background: url("../images//home/banner_overlay.png");
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  display: none;
}

.carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.carousel-indicators li.active {
  background-color: #8dc73f;
  border: 2px solid #fff;
}

@media (max-width: 767px) {
  .carousel-indicators li {
    height: 10px;
    width: 10px;
  }
}

@media (max-width: 767px) {
  .carousel-indicators {
    bottom: 0;
    margin-bottom: 10px;
  }
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .feature-item {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.marketing .feature-item h2 {
  font-weight: normal;
  font-size: 22px;
  margin-top: 15px;
  color: #8dc73f;
  padding-bottom: 20px;
  position: relative;
}

.marketing .feature-item h2:after {
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  border-radius: 2px;
  background-color: #818286;
  margin-left: 30%;
  margin-top: 20px;
}

.marketing .feature-item p {
  font-size: 17px;
}

.marketing .feature-item strong {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

@media (max-width: 767px) {
  .marketing .feature-item {
    margin-bottom: 40px;
  }
}

/* HOTLINE
  ------------------------- */
.hotline {
  background-color: #99cc52;
  background-image: url("../images//home/bg_location.png");
  padding: 20px 0;
  margin: 60px 0;
  position: relative;
}

.hotline:before, .hotline:after {
  content: '';
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
}

.hotline:before {
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100 */
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}

.hotline:after {
  right: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100 */
  background: #ffffff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
}

.hotline .hotline-item {
  position: relative;
  padding-left: 60px;
  color: #fff;
}

.hotline .hotline-item .fa {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 44px;
  display: inline-block;
  border: 1px solid #000;
  color: #000;
  text-align: center;
  font-size: 24px;
  border-radius: 100%;
  left: 0;
}

.hotline .hotline-item b {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .hotline .hotline-item {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

/* SERVICES
  ------------------------- */
.services {
  background-color: #f8f8f8;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.services .service-item {
  display: block;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.services .service-item img {
  width: 100%;
  height: 230px;
}

.services .service-item .post-wrap {
  padding: 30px;
  text-align: center;
}

.services .service-item h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.services .service-item p {
  font-size: 15px;
}

.services .service-item a {
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #4c4b4c;
  color: #4c4b4c;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: 16px;
}

.services .service-item:after {
  content: '';
  opacity: .4;
  background: #8dc73f;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: none;
}

.services .service-item:hover::after {
  display: block;
}

.services .owl-nav {
  display: block !important;
}

.services .owl-carousel .owl-nav button.owl-next,
.services .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 250px;
  background-color: #8dc73f;
  padding: 15px 10px !important;
  color: #fff;
  display: block;
  outline: none;
}

.services .owl-carousel .owl-nav button.owl-next:hover,
.services .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #72a330;
}

.services .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

/* BLOG
  ------------------------- */
.blog .owl-carousel .owl-stage-outer {
  padding: 50px 0;
}

.blog .post {
  display: block;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.blog .post img {
  width: 100%;
  height: 230px;
}

.blog .post .post-wrap {
  padding: 30px;
  text-align: center;
}

.blog .post h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.blog .post p {
  font-size: 15px;
}

.blog .post a {
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #4c4b4c;
  color: #4c4b4c;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: 16px;
}

.blog .post:after {
  content: '';
  opacity: .4;
  background: #8dc73f;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: none;
}

.blog .post:hover::after {
  display: block;
}

.blog .owl-nav {
  display: block !important;
}

.blog .owl-carousel .owl-nav button.owl-next,
.blog .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  background-color: #8dc73f;
  padding: 15px 10px !important;
  color: #fff;
  display: block;
  margin-top: -50px;
  outline: none;
}

.blog .owl-carousel .owl-nav button.owl-next:hover,
.blog .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #72a330;
}

.blog .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

/* CUSTOMERS
  ------------------------- */
.customers {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding-top: 50px;
  position: relative;
}

.customers:before {
  content: '';
  display: block;
  background: #fff;
  height: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  position: absolute;
}

.customers .container {
  position: relative;
  z-index: 20;
}

.customers .owl-carousel .owl-stage-outer {
  padding: 50px 0;
}

.customers .customer-item {
  display: block;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.customers .customer-item img {
  width: 100%;
  height: 230px;
}

.customers .customer-item .customer-wrap {
  padding: 30px;
  text-align: center;
}

.customers .customer-item h4 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.customers .customer-item p {
  font-size: 15px;
}

.customers .customer-item a {
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #4c4b4c;
  color: #4c4b4c;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: 16px;
}

.customers .customer-item:after {
  content: '';
  opacity: .4;
  background: #8dc73f;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  display: none;
}

.customers .customer-item:hover::after {
  display: block;
}

.customers .owl-nav {
  display: block !important;
}

.customers .owl-carousel .owl-nav button.owl-next,
.customers .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 250px;
  background-color: #8dc73f;
  padding: 15px 10px !important;
  color: #fff;
  display: block;
  outline: none;
}

.customers .owl-carousel .owl-nav button.owl-next:hover,
.customers .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #72a330;
}

.customers .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

/* LOCATIONS
  ------------------------- */
.locations .locations-title {
  background-image: url("../images//home/location_bg.png");
  padding: 50px 0;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}

.locations .locations-title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #8dc73f;
  opacity: .5;
}

.locations .locations-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #000;
  opacity: .2;
}

.locations .locations-title .section-title {
  color: #fff;
  position: relative;
  z-index: 10;
}

.locations .locations-title .section-title h2 {
  color: #fff;
}

.locations .locations-title .section-title h2::after {
  background-color: #fff;
}

.locations .locations-title .section-title p {
  font-weight: bold;
}

.locations .location-item {
  border: 1px solid #ddd;
}

.locations .location-item .location-wrap {
  background-color: #ebebeb;
}

.locations .location-item h4 {
  padding: 30px 0;
  text-align: center;
  background: #fff;
}

.locations .location-item address {
  margin-bottom: 0;
  padding: 20px 20px 20px 60px;
  position: relative;
}

.locations .location-item address abbr {
  position: absolute;
  left: 30px;
  text-align: center;
  width: 15px;
  font-size: 18px;
}

.locations .location-item address br {
  margin-bottom: 10px;
}

.locations .owl-item {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.locations .owl-item.center {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.locations .owl-item.center + .owl-item {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.locations .owl-item.center h4 {
  background: #8dc73f;
  color: #fff;
}

@media (max-width: 767px) {
  .locations .owl-item {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.locations .owl-nav {
  display: block !important;
}

.locations .owl-carousel .owl-nav button.owl-next,
.locations .owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 100px;
  background-color: #464646;
  padding: 10px 8px !important;
  color: #fff;
  display: block;
  outline: none;
}

.locations .owl-carousel .owl-nav button.owl-next:hover,
.locations .owl-carousel .owl-nav button.owl-prev:hover {
  background-color: #2d2d2d;
}

.locations .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

/* FOOTER
  -------------------------------------------------- */
footer {
  margin-top: 60px;
  background: #e8e8e8;
  padding-top: 60px;
}

@media (max-width: 767px) {
  footer {
    margin-top: 20px;
  }
}

footer .footer-text-muted {
  color: #1a1c27;
}

footer .footer-text strong {
  font-size: 16px;
}

footer .footer-links {
  line-height: 40px;
  margin-top: 30px;
  padding-left: 30px;
}

footer .footer-links a {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  font-size: 14px;
}

@media (max-width: 767px) {
  footer .footer-links {
    padding-left: 0;
  }
}

footer .footer-external-links {
  line-height: 28px;
}

footer h5 {
  font-size: 16px;
  font-weight: bold;
}

footer .footer-seperator {
  position: relative;
}

footer .footer-seperator:before, footer .footer-seperator:after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 1px;
  background: #777;
  opacity: .6;
}

@media (max-width: 767px) {
  footer .footer-seperator:before, footer .footer-seperator:after {
    display: none;
  }
}

footer .footer-seperator:before {
  left: 0;
}

footer .footer-seperator:after {
  right: 20px;
}

footer .copyright {
  background-image: url("../images//footer_bg.png");
  color: #fff;
  font-weight: 500;
  padding: 25px 0;
  margin-top: 50px;
  font-size: 14px;
}

footer .copyright .copyright-text {
  padding-left: 70px;
  line-height: 28px;
}

@media (max-width: 767px) {
  footer .copyright .copyright-text {
    padding-left: 0;
  }
}

footer .footer-social-links {
  text-align: center;
  margin-top: 10px;
}

footer .footer-social-links a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  footer .footer-social-links {
    text-align: left;
  }
}

/* SUPPORT CSS
  -------------------------------------------------- */
.page-title {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 96px;
  margin-bottom: 80px;
}

.page-title h1 {
  font-family: 'Gotham Medium';
  font-size: 86px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 2;
}

.page-title:before {
  content: '';
  background: #8ac53b;
  opacity: .4;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 767px) {
  .page-title {
    margin-top: 76px;
    background-position: center;
    height: 200px;
    margin-bottom: 30px;
  }
  .page-title h1 {
    font-size: 40px;
  }
}

.pagination .page-link {
  border-color: #e6e6e6;
  color: #333;
  padding: .5rem 1rem;
  font-family: 'Arial', serif;
  font-size: 14px;
}

.pagination .page-link:hover {
  border-color: #8dc73f;
}

.pagination .page-link.pagination-title {
  border: none;
  padding-left: 0;
}

.pagination .page-link.pagination-title:hover {
  background: none;
  cursor: default;
}

.pagination .page-link.page-next, .pagination .page-link.page-prev {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

.pagination .page-link.page-next:hover, .pagination .page-link.page-prev:hover {
  background: none;
  color: #8dc73f;
  border-color: #e6e6e6;
}

.pagination .page-item.active .page-link {
  border-color: #8dc73f;
  color: #333;
  background: none;
}

.support-page .page-title {
  background-image: url("../images/support/banner.png");
}

.article-list {
  margin-bottom: 50px;
}

.article-list .article {
  position: relative;
  min-height: 200px;
  padding: 38px 0;
  padding-right: 300px;
  border-bottom: 1px solid #e6e6e6;
}

.article-list .article:last-child {
  border-bottom: 0;
}

.article-list .article .article-image {
  position: absolute;
  right: 0;
  width: 270px;
}

.article-list .article .article-content {
  font-family: 'Noticia Text', serif;
  font-size: 12px;
  text-align: justify;
}

.article-list .article .article-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.article-list .article .article-title a {
  font-family: 'Noticia Text', serif;
  color: #333;
}

.article-list .article .article-title a:hover {
  color: #8dc73f;
  text-decoration: none;
}

.article-list .article .read-more {
  margin-top: 35px;
}

.article-list .article .read-more a {
  font-family: 'Noticia Text', serif;
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #4c4b4c;
  color: #4c4b4c;
  line-height: 16px;
  font-size: 13px;
}

@media (max-width: 767px) {
  .article-list .article {
    padding: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .article-list .article .article-image {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
  }
  .article-list .article .article-content {
    margin-top: 20px;
  }
  .article-list .article .article-title {
    margin-bottom: 10px;
  }
  .article-list .article .read-more {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .article-list {
    margin-bottom: 30px;
  }
}

/* NEWS CSS
  -------------------------------------------------- */
.news-page .page-title {
  background-image: url("../images/news/banner.png");
}

.news-detail-page {
  padding-top: 96px;
}

.news-detail-page .article-main .article-meta {
  margin-top: 20px;
  color: #e6e5e5;
}

.news-detail-page .article-main .article-content {
  font-family: 'Noticia Text', serif;
  font-size: 14px;
  text-align: justify;
}

.news-detail-page .article-main .article-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px dashed #e6e5e5;
}

.news-detail-page .article-main .article-title a {
  font-family: 'Noticia Text', serif;
  color: #333;
}

.news-detail-page .article-main .article-title a:hover {
  color: #8dc73f;
  text-decoration: none;
}

.news-detail-page .article-list {
  background: whitesmoke;
  padding: 0 10px;
}

.news-detail-page .article-list .article {
  padding-left: 30%;
  padding-right: 0;
  padding-top: 10px;
  height: 85px;
  min-height: 0;
}

.news-detail-page .article-list .article .article-title {
  font-size: 14px;
  font-weight: normal;
}

.news-detail-page .article-list .article .article-content {
  padding-left: 20px;
}

.news-detail-page .article-list .article .article-image {
  width: 30%;
  left: 0;
  position: absolute;
}

.news-detail-page .article-sidebar {
  margin-top: 30px;
}

.news-detail-page .sidebar-title {
  background: #8dc73f;
  color: #ffffff;
  padding: 12px;
  line-height: 24px;
  font-size: 24px;
  margin-bottom: 0;
}

/* CONTACT CSS
  -------------------------------------------------- */
.contact-page .page-title {
  background-image: url("../images/contact/banner.png");
}

.contact-page .contact-description {
  font-family: 'Noticia Text', serif;
  font-size: 20px;
  text-align: center;
  margin: 40px 0;
}

.contact-page .contact-list {
  padding: 0;
}

.contact-page .contact-list li {
  list-style: none;
  display: block;
  background: url("../images/map-mark.png") no-repeat 0 5px;
  padding-left: 30px;
  margin-bottom: 10px;
}

.contact-page .contact-list li a {
  text-transform: uppercase;
  font-family: 'Gotham Medium';
  font-weight: bold;
  font-size: 18px;
  color: #1a1c27;
  line-height: 32px;
}

.contact-page .map-content {
  padding: 40px;
}

.contact-page .map-content address {
  line-height: 36px;
  font-size: 16px;
  color: #1a1c27;
  font-weight: 500;
}

.contact-page .map-content address .fa {
  color: #333;
}

.contact-page .map-content address .fa-mobile {
  font-size: 22px;
  position: relative;
  left: 0px;
  width: 20px;
}

.contact-page .map-title,
.contact-page .contact-list-toggle {
  background: #8dc73f;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-bottom: 45px;
  font-family: 'Gotham Medium';
  display: block;
}

.contact-page .contact-list-toggle {
  margin-bottom: 0;
  display: none;
}

.contact-page #map {
  height: 610px;
}

@media (max-width: 767px) {
  .contact-page .map-title:not(.contact-list-toggle) {
    display: none;
  }
  .contact-page .contact-list-toggle {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .contact-page .contact-list-toggle:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  }
  .contact-page .contact-list-toggle:before {
    content: 'Chọn tỉnh: ';
  }
  .contact-page .contact-list {
    overflow: hidden;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
    max-height: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    background: #fff;
    border: 1px solid #efefef;
    margin-top: -20px;
  }
  .contact-page .contact-list.active {
    max-height: 10000px;
    padding: 10px;
  }
  .contact-page .contact-left {
    position: relative;
  }
  .contact-page #map {
    height: 300px;
  }
  .contact-page .map-content {
    padding: 20px 0;
  }
}

/* ABOUT CSS
  -------------------------------------------------- */
.about-page .page-title {
  background-image: url("../images/about-us/banner.png");
}

.about-page .about-content {
  font-family: 'Noticia Text', serif;
}

.about-page .about-content img {
  margin: 40px auto;
  display: block;
  max-width: 100%;
}

.about-page .about-content p {
  margin-bottom: 15px;
}

.about-page .about-content h2 {
  margin-bottom: 40px;
}

/* SERVICES CSS
  -------------------------------------------------- */
.services-page .page-title {
  background-image: url("../images/services/banner.png");
}

.services-page .service-item img {
  width: 100%;
}

.services-page .service-item h3 {
  font-family: 'Noticia Text', serif;
  font-weight: bold;
  margin: 10px 0;
  height: 70px;
}

.services-page .service-item .read-more {
  font-family: 'Noticia Text', serif;
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #4c4b4c;
  color: #4c4b4c;
  line-height: 16px;
  font-size: 13px;
}

@media (max-width: 767px) {
  .services-page .service-item {
    margin-bottom: 30px;
  }
}

/* CUSTOMER CSS
  -------------------------------------------------- */
.customer-page .page-title {
  background-image: url("../images/customer/banner.png");
}

.customer-page .customer-list {
  margin-bottom: 50px;
}

.customer-page .customer-list .customer {
  position: relative;
  min-height: 200px;
  padding: 38px 0;
  padding-left: 300px;
  border-bottom: 1px solid #e6e6e6;
}

.customer-page .customer-list .customer:last-child {
  border-bottom: 0;
}

.customer-page .customer-list .customer .customer-image {
  position: absolute;
  left: 0;
  width: 270px;
}

.customer-page .customer-list .customer .customer-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  text-align: justify;
}

.customer-page .customer-list .customer .customer-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.customer-page .customer-list .customer .customer-title a {
  font-family: 'Noticia Text', serif;
  color: #333;
}

.customer-page .customer-list .customer .customer-title a:hover {
  color: #8dc73f;
  text-decoration: none;
}

.customer-page .customer-list .customer .read-more {
  margin-top: 35px;
}

.customer-page .customer-list .customer .read-more a {
  font-family: 'Noticia Text', serif;
  display: inline-block;
  padding: 10px 35px;
  border: 1px solid #4c4b4c;
  color: #4c4b4c;
  line-height: 16px;
  font-size: 13px;
}

@media (max-width: 767px) {
  .customer-page .customer-list .customer {
    padding: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .customer-page .customer-list .customer .customer-image {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
  }
  .customer-page .customer-list .customer .customer-content {
    margin-top: 20px;
  }
  .customer-page .customer-list .customer .customer-title {
    margin-bottom: 10px;
  }
  .customer-page .customer-list .customer .read-more {
    margin-top: 20px;
  }
}

/* RESPONSIVE CSS
  -------------------------------------------------- */
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
            flex: 1;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
  #navbarCollapse {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(47, 55, 59, 0.97);
    border: none;
    height: 100% !important;
  }
  #navbarCollapse.show, #navbarCollapse.collapsing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #navbarCollapse ul {
    width: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto;
    border-color: transparent;
  }
  #navbarCollapse ul li {
    text-align: center;
  }
  #navbarCollapse ul li a {
    color: #fff;
    font-size: 20px;
  }
  #navbarCollapse ul li.active a {
    color: #8dc73f;
  }
}
/*# sourceMappingURL=style.css.map */