<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rohto Showroom</title>
  </head>
<style type="text/css">
	body{
        text-align:center
	}
</style>
  <body>

<h1>Phunthuocmuoi.com</h1>

<p>
    <a href="home.html">Home</a> &nbsp; &nbsp;
    <a href="home2.html">Home 2</a> &nbsp; &nbsp;
</p>

<p>Lưu ý: đây là bản thiết kế dưới dạng hình ảnh, không phải trang web hoàn chỉnh.
<br />Vì vậy, quý khách vui lòng sử dụng tổ hợp phí <strong>Ctrl +</strong> hoặc <strong>Ctrl -</strong> để phóng to thu nhỏ trang để hiển thị trọn vẹn với màn hình của quý khách.</p>

  </body>
</html>
